<div class="round_box">
  <div class="album_thumbnail">
    <img class="thumbnail shadow" src="/assets/<%= thumbnail_image %>">
  </div>
  <div class="album_details">
    <div class="artist_album"><%= artist_name %></div>
    <div class="artist">
      <a href="/albums/<%= id %>"><%= title %></a>
    </div>
    <div class="rating">star rating: <%= star_rating %></div>
  </div>
  <div class="clear"></div>
</div>